.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

td:last-child {
  border-right: 0;
}

th {
  position: sticky;
  box-shadow: none;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* Tooltip */

.tooltip {
  background: rgba(0,0,0,0) !important;
  max-width: 95%;
}

/* End of Tooltip */


.bg-green {
  background-color: #A2E4B8 !important;
}


/* Utility */
.nowrap {
  white-space: nowrap;
}

/* Cards */

.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .3s;
  animation: fadein 1s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}

/* End of Cards */

* {
  font-family: 'Montserrat', sans-serif
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.big-checkbox {width: 30px; height: 30px;}

.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scout-card-button {
  outline: none;
  border: none;
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
  margin-left: 0;
  padding-left: 0
}

.scroll {
  height: "100%"
}

.modal-content {
  width: "100%"
}

/* Loading Animation */
@keyframes ldio-5ki7dfraqbv {
  0% { transform: rotate(0deg); opacity: 1 }
  50% { transform: rotate(180deg); opacity: 0.8 }
  100% { transform: rotate(360deg); opacity: 1 }
}
.ldio-5ki7dfraqbv div {
  position: fixed;
  animation: ldio-5ki7dfraqbv 0.32s linear infinite;
  width: 160px;
  height: 160px;
  /* top: 50%;
  left: 50%; */
  border-radius: 80%;
  /* transform-origin: 80px 82px; */

  box-shadow: 0 8px 0 0 #2e3843;
  /* margin-left: -0.5em;
  margin-top: -0.5em; */
}
.loadingio-spinner-eclipse-uzl9l7691o {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
.ldio-5ki7dfraqbv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.3);
  backface-visibility: hidden;
}
.ldio-5ki7dfraqbv div { box-sizing: content-box; }

.logo {
  font-family: 'Audiowide', cursive;
}

.logo-primary {
  color: #E77917;
}

.subtext {
  font-family: "Jura", sans-serif;
  font-weight: bold;
}

.logo-secondary {
  color: #ededed;
}

.nav-option {
  font-family: 'Audiowide', cursive;
}

.signout-btn {
  color: #ffffff !important;
  background-color: #E77917 !important;
  border-radius: 2px !important;
  font-family: 'Audiowide', cursive;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
