.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

td:last-child {
  border-right: 0;
}

th {
  position: sticky;
  box-shadow: none;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* Tooltip */

.tooltip {
  background: rgba(0, 0, 0, 0) !important;
  max-width: 95%;
}

/* End of Tooltip */


.bg-green {
  background-color: #A2E4B8 !important;
}


/* Utility */
.nowrap {
  white-space: nowrap;
}

/* Cards */

.settings-card {
  box-shadow: 0 6px 6px -2px gray;
}

.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .3s;
  animation: fadein 1s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}

/* End of Cards */

* {
  font-family: 'Montserrat', sans-serif
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fdfdfd !important;
}

.big-checkbox {
  width: 30px;
  height: 30px;
}

.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scout-card-button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  margin-left: 0;
  padding-left: 0
}

.scroll {
  height: "100%"
}

.modal-content {
  width: "100%"
}

.settings-sidebar {
  min-height: calc(100vh - 56px);
}

/* Loading Animation */
@keyframes ldio-5ki7dfraqbv {
  0% {
    transform: rotate(0deg);
    opacity: 1
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.8
  }

  100% {
    transform: rotate(360deg);
    opacity: 1
  }
}

.ldio-5ki7dfraqbv div {
  position: fixed;
  animation: ldio-5ki7dfraqbv 0.32s linear infinite;
  width: 160px;
  height: 160px;
  /* top: 50%;
  left: 50%; */
  border-radius: 80%;
  /* transform-origin: 80px 82px; */

  box-shadow: 0 8px 0 0 #2e3843;
  /* margin-left: -0.5em;
  margin-top: -0.5em; */
}

.loading-text {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);

  animation: fadein 2s;
}

.loadingio-spinner-eclipse-uzl9l7691o {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.ldio-5ki7dfraqbv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.3);
  backface-visibility: hidden;
}

.ldio-5ki7dfraqbv div {
  box-sizing: content-box;
}


.loader {
  --path: #212529;
  --dot: #E77917;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);

  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;


  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.loader svg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.loader svg polygon {
  fill: none;
  stroke: var(--path);
  stroke-width: 8px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.rotating-triangle {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  transition: all .3s;

  animation: fadein 2s, pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;

}

.rotating-triangle-error {

  /* transition: all 1s; */

  /* fill: #ff0000 !important; */

  animation: transitionErrorColor 1.25s ease forwards, transitionFullTriangle 1s ease forwards !important;
}

.loader.triangle.triangle-error:after {
  transform: var(--dottransform);
  
  --dot: #ff3333;


  /* stroke: #ff0000 !important; */

  /* transition: all 1s; */


  animation: transitionTriangleDotError 0.75s ease forwards !important;
}

@keyframes transitionErrorColor {
  0%, 10% {
    fill: white;
  } 
  100% {
    /* fill: #fbb901; */
    stroke: #ff3333;
  }
}

@keyframes transitionFullTriangle {
  to {
    stroke-dasharray: 375;
  }
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:after {
  transform: translate(-55px, -10px);
  transition: all .3s;

  animation: fadein 2s, dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.triangle-exclamation  {

  stroke: #ff3333 !important;

  animation: fadein 1s
}

@keyframes transitionTriangleDotError {
  to {
    transform: translate(-12px, 35px) scale(.9) 
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(-10px, 60px);
  }

  66% {
    transform: translate(30px, -10px);
  }

  100% {
    transform: translate(-55px, -10px);
  }
}

.logo {
  font-family: 'Audiowide', cursive;
}

.logo-primary {
  color: #E77917;
}

.subtext {
  font-family: "Jura", sans-serif;
  font-weight: bold;
}

.logo-secondary {
  color: #ededed;
}

.nav-option {
  font-family: 'Audiowide', cursive;
  color: rgba(255, 255, 255, .55) !important;
}

.signout-btn {
  color: #ffffff !important;
  background-color: #E77917 !important;
  border-radius: 2px !important;
  font-family: 'Audiowide', cursive;
}

@media (max-width: 800px) {
  html, body {
    overflow-x: hidden;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* SETTINGS SIDEBAR */
.navbar-default {
  background-color: #fff;
  margin-left: 200px;
}

/*main side bar*/
.msb {
  width: 200px;
  background-color: #f5f7f9;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
}

.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}

.msb .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background: #fff;
}

.msb .navbar-nav .panel {
  border: 0 none;
  box-shadow: none;
  margin: 0;
  background: inherit;
}

.msb .navbar-nav li {
  display: block;
  width: 100%;
}

.msb .navbar-nav li a {
  padding: 15px;
  color: #5f5f5f;
}

.msb .navbar-nav li a .glyphicon, .msb .navbar-nav li a .fa {
  margin-right: 8px;
}

.msb .nb {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

ul.nv, ul.ns {
  position: relative;
  padding: 0;
  list-style: none;
}

.nv {
  /*ns: nav-sub*/
}

.nv li {
  display: block;
  position: relative;
}

.nv li::before {
  clear: both;
  content: "";
  display: table;
}

.nv li a {
  color: #444;
  padding: 10px 25px;
  display: block;
  vertical-align: middle;
}

.nv li a .ic {
  font-size: 16px;
  margin-right: 5px;
  font-weight: 300;
  display: inline-block;
}

.nv .ns li a {
  padding: 10px 50px;
}

/*main content wrapper*/
.mcw {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
  /*content view*/
}

/*globals*/
a, a:focus, a:hover {
  text-decoration: none;
}

.inbox .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.inbox ul, .inbox li {
  margin: 0;
  padding: 0;
}

.inbox ul li {
  list-style: none;
}

.inbox ul li a {
  display: block;
  padding: 10px 20px;
}

.msb, .mnb {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mcw {
  -moz-animation: bodyslidein 300ms forwards;
  -o-animation: bodyslidein 300ms forwards;
  -webkit-animation: bodyslidein 300ms forwards;
  animation: bodyslidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

body.msb-x .mcw, body.msb-x .mnb {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

body.msb-x .msb {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Slide in animation */
@-moz-keyframes slidein {
  0% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@keyframes slidein {
  0% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@-moz-keyframes slideout {
  0% {
    left: 0;
  }

  100% {
    left: -200px;
  }
}

@-webkit-keyframes slideout {
  0% {
    left: 0;
  }

  100% {
    left: -200px;
  }
}

@keyframes slideout {
  0% {
    left: 0;
  }

  100% {
    left: -200px;
  }
}

@-moz-keyframes bodyslidein {
  0% {
    left: 0;
  }

  100% {
    margin-left: 200px;
  }
}

@-webkit-keyframes bodyslidein {
  0% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes bodyslidein {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 200px;
  }
}

@-moz-keyframes bodyslideout {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-right: 0;
  }
}

@-webkit-keyframes bodyslideout {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes bodyslideout {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0;
  }
}