.nav-matches {
    background-color: #2f343d;

    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    clip-path: inset(0px -15px 0px 0px);
}

.card-matches {
    background-color: #2f343d;
    
    margin-bottom: 0.15em;
}

.dropdown-menu {
    background-color: #2f343d !important;
}

.dropdown-item {
    color: #ededed !important;
}

.dropdown-item:hover {
    background-color: #4c5463;
}

.custom-sticky-header {
    position: sticky;
    top: 0;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown .custom-dropdown-icon {
    position: absolute;
    right: 32px;
    height: 100%;
}

.custom-dropdown .form-control {
    padding-right: 36px;
}

.rbt-input-main {
    padding-left: 1.5em;
}

body {
    background-color: #2f343d !important;
}